[Unit]
Description=Minecraft server
After=network.target

[Service]
Environment=MINIMUM_MEMORY_LIMIT=128M
Environment=SOFT_MAXIMUM_MEMORY_LIMIT=2G
Environment=MAXIMUM_MEMORY_LIMIT=3G
Type=simple
Delegate=yes
Restart=always
RestartSec=10
User=minecraft-server
ExecStartPre=/usr/bin/env bash -c [ -f eula.txt ]
ExecStart=/usr/bin/java -Xmn$MINIMUM_MEMORY_LIMIT -XX:SoftMaxHeapSize=$SOFT_MAXIMUM_MEMORY_LIMIT -XmxMAXIMUM_MEMORY_LIMIT

[Install]
WantedBy=multi-user.target